@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sgfkb5');
  src:  url('fonts/icomoon.eot?sgfkb5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sgfkb5') format('truetype'),
    url('fonts/icomoon.woff?sgfkb5') format('woff'),
    url('fonts/icomoon.svg?sgfkb5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-left:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-prc-logo:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-prc-mark:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
