// all animation classes go here
.wow {
    visibility: hidden;
}

// documentation for mui-animation: https://github.com/zurb/motion-ui/tree/master/docs
.slide-in-up {
    animation-duration: 1000ms;
    @include mui-animation(slide(in, up, 2rem), fade);
}
.slide-in-right {
    animation-duration: 1000ms;
    @include mui-animation(slide(in, right, 2rem), fade);
}
.slide-in-down {
    animation-duration: 1000ms;
    @include mui-animation(slide(in, down, 2rem), fade);
}
.slide-in-left {
    animation-duration: 1000ms;
    @include mui-animation(slide(in, left, 2rem), fade);
}