.gform_wrapper {
    margin: 0 !important;
    max-width: 100% !important;
}
.gform_wrapper form li.gfield, .gform_wrapper li.gfield {
    margin-top: 0 !important;
    margin-bottom: 2.8rem !important;
}
.gfield_label {
    font-weight: $global-weight-bold !important;
    color: $black;
    font-size: 0.8rem !important;

    .gfield_required {
        color: $dark-gray !important;
    }
}
.gform_wrapper .top_label .gfield {
    position: relative;
    .gfield_label {
        position: absolute;
        top: 1.7rem;
        left: 0;
        font-size: 1rem !important;
        font-weight: $global-weight-normal !important;
        display: none;
    }
}
.ginput_container_select {
    position: relative;
    &:after {
        font-family: 'icomoon';
        content: '\e902';
        display: block;
        background: $white;
        color: $primary-color;
        top: 0.5rem;
        right: 0;
        font-size: 1rem;
        position: absolute;
    }
}
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
    margin: -14px 0 0 1px !important;
}
.ginput_container {
    input, select, textarea {
        width: 100% !important;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #C3C3C3;
        background-color: transparent;
        font-size: 1.3rem;
        transition: border-color 200ms ease-in-out;
        &:focus {
            box-shadow: none;
            border-width: 0 0 2px 0;
            border-bottom-color: $primary-color;
            outline: none;
            background: transparent;
        }
    }
    select {
        margin-bottom: 0;
    }
}

.gfield_checkbox li input[type=checkbox] {
    margin: 0 !important;
}

.gform_footer {
    margin-bottom: 2rem;
}

.gform_button {
    @extend .button;
    margin: 0 auto !important;
    display: block !important;
    padding: 1.2em 2em;
    font-size: 0.9rem !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    +label {
        font-weight: $global-weight-bold !important;
        opacity: 0.8;
    }
    &:checked+label {
        font-weight: $global-weight-bold !important;
        opacity: 1;
    }
}
.gform_wrapper .top_label div.ginput_container {
    margin-top: 0 !important;
}
